<div class="queryContainer">
  <p-table
    [value]="infos[0]"
    styleClass="p-datatable-gridline"
    selectionMode="single"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Subregion</th>
        <th>State Name(Full)</th>
        <th>State Name(Abbr.)</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-info let-id>
      <tr (click)="clickGetId(id)">
        <td [ngClass]="{ highlight: selectedId === id }">
          {{ info.attributes?.sub_region }}
        </td>
        <td [ngClass]="{ highlight: selectedId === id }">
          {{ info.attributes?.state_name }}
        </td>
        <td [ngClass]="{ highlight: selectedId === id }">
          {{ info.attributes?.state_abbr }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
